### Practice Exercise (Data Preprocessing)

In [30]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [31]:
#loading the dataset
df = pd.read_csv('employee_salary.csv')
print(df.shape)
print(df.isnull().sum())

df.head(1)

(25, 13)
EmpID                0
Age                  5
Gender               3
Education            0
Department           0
JobRole              2
Experience           2
Skills               3
City                 4
MaritalStatus        3
PerformanceRating    3
TrainingHours        2
Salary               0
dtype: int64

  EmpID   Age Gender  ... PerformanceRating TrainingHours Salary
0  E001  28.0   Male  ...               4.0          40.0  55000

[1 rows x 13 columns]

In [32]:
#feature and target variable
X = df.drop(['EmpID','Salary'],axis=1).values
y= df['Salary'].values

df.head(1)

  EmpID   Age Gender  ... PerformanceRating TrainingHours Salary
0  E001  28.0   Male  ...               4.0          40.0  55000

[1 rows x 13 columns]

In [33]:
#handing the missing values
impute_mean = SimpleImputer(missing_values=np.nan,strategy='mean')

X[:,[0,9,10]] = impute_mean.fit_transform(X[:,[0,9,10]])

impute_frequent = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
X[:,[1,2,3,4,5,6,7,8]] = impute_frequent.fit_transform(X[:,[1,2,3,4,5,6,7,8]])

In [34]:
ct = ColumnTransformer(transformers=[('encode',OneHotEncoder(),[1,2,3,4,6,7,8])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [35]:
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=43)

In [36]:
#scaler featuer
sc = StandardScaler()
X_train[:,-3:] = sc.fit_transform(X_train[:,-3:])

X_test[:,-3:] = sc.transform(X_test[:,-3:])

In [37]:
print(X_train)

[[1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 24.0 -1.145584752500962
  -1.5829469407439396 -1.5222147787376183]
 [1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 45.0 1.770449162956032
  1.2774089275407958 1.5355092309536675]
 [0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 40.0
  -0.9372966156826051 1.2774089275407958 1.229736829984539]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 27.0
  -0.9372966156826051 -1.5829469407439396 -1.399905818349967]
 [1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
  0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 35.0
  0.31243220522753506 1.2774089275407958 0.9239644290154104]
 [0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 29.0
  -0.5207203420458918 -0.1527690066015719 -0.42143413524875545]
 [1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 34.0
  -0.10414406840917835 -0.1527690066015719 0.006647226108024592]
 [1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
  0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 42.0 1.145584752500962
  1.2774089275407958 0.0013294452216048313]
 [0.0 1.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 32.0
  -0.31243220522753506 -0.1527690066015719 -0.17681621447345258]
 [0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 34.05
  -0.7290084788642485 -0.08776091868600913 -1.0329789371870126]
 [1.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
  0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 41.0 1.3538728893193186
  1.2774089275407958 1.4132002705660163]
 [0.0 1.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
  0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 36.0 0.9372966156826051
  -0.08776091868600913 0.8016554686277589]
 [0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 34.05
  -0.9372966156826051 -1.5829469407439396 -1.2164423777684898]
 [1.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 37.0 0.5207203420458918
  -0.08776091868600913 0.43472858746480464]
 [0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 34.05
  -0.31243220522753506 -0.1527690066015719 0.0013294452216048313]
 [0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 48.0 2.395313573411102
  1.2774089275407958 1.8412816319227963]
 [0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 25.0
  -0.9372966156826051 -1.5829469407439396 -1.2164423777684898]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 30.0
  -0.5207203420458918 -0.1527690066015719 -0.299125174861104]
 [0.0 1.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 28.0
  -0.7290084788642485 -0.1527690066015719 -0.299125174861104]
 [1.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
  0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 31.0
  -0.31243220522753506 -0.1527690066015719 -0.6048975758302326]]