### Data Preprocessing Exercies

In [105]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler

In [106]:
#loading the dataset
df = pd.read_csv('loan.csv')
print(f'Loading the dataset:\n')
df.head()

Loading the dataset:

   CustomerID  Gender Married  ... CreditScore  PropertyArea  LoanApproved
0         101    Male     Yes  ...       720.0         Urban           Yes
1         102  Female     Yes  ...       680.0     Semiurban           Yes
2         103    Male      No  ...         NaN         Rural            No
3         104    Male     Yes  ...       750.0         Urban           Yes
4         105  Female     NaN  ...       690.0     Semiurban           Yes

[5 rows x 9 columns]

In [107]:
# defining the feature and target variable
X = df.iloc[:,1:-1].values
y = df.iloc[:,-1].values

In [108]:
categorical_columns = ['Gender', 'Married', 'Education', 'PropertyArea']
numerical_columns = ['Income', 'LoanAmount', 'CreditScore']

In [109]:
#handling the missing data
missing_data = df.isnull().sum()
print(f'Missing data in each column:\n {missing_data}')

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
X[:,3:6] = imputer.fit_transform(X[:,3:6])

impute = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
X[:,0:1] = impute.fit_transform(X[:,0:1])

Missing data in each column:
 CustomerID      0
Gender          1
Married         2
Education       0
Income          2
LoanAmount      2
CreditScore     2
PropertyArea    0
LoanApproved    0
dtype: int64

In [110]:
#Encoding the categories feature variable
ct = ColumnTransformer(transformers=[('arson',OneHotEncoder(),[0,1,2,6])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

le = LabelEncoder()
y = le.fit_transform(y)

In [113]:
#spliting the data
X_train, X_test , y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=7)

In [114]:
#feature Scaler
sc = StandardScaler()
X_train[:,10:] = sc.fit_transform(X_train[:,10:])

X_test[:,10:] = sc.transform(X_test[:,10:])

In [117]:

#printing the final result: 
print(f'X_train:\n {X_train}')
print(f'X_test:\n {X_test}')
print(f'y_train:\n {y_train}')
print(f'y_test: {y_test}')

X_train:
 [[0.0 1.0 1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 -1.2543801660254887
  -1.0908012177934066 -0.288225028525472]
 [0.0 1.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 1.0 2.0548780384093366
  2.1464152995289614 1.765850283935534]
 [0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.1817130170311336
  0.03518713605785183 0.19508680970064743]
 [1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 -0.2553588212904471
  -0.24630995240496278 -0.5902949274167958]
 [0.0 1.0 1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 -0.1592990766043854
  -0.9500526735619993 -2.1610584016516823]
 [1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 -0.3177976553363872
  -0.3870584966363701 -0.7866403616961566]
 [0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 -0.005603485106686711
  -0.10556140817355547 -0.1976040588580742]
 [1.0 0.0 1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 -1.6914520043470695
  -1.3019240341405176 -0.288225028525472]
 [0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.8061013574905347
  0.7389298572148884 0.7841231125387299]
 [1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 1.4304896979499357
  1.4426725783719248 1.3731594153768123]
 [1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 -0.1592990766043854
  0.4574327687520737 0.587777678259369]
 [1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 1.0 0.0 -0.6299918255660878
  -0.7389298572148884 -0.393949493137435]]
X_test:
 [[0.0 1.0 1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 -1.379257834117369
  -1.1611754899091102 -2.553749270210404]
 [0.0 1.0 0.0 1.0 0.0 0.0 1.0 1.0 0.0 0.0 -1.5041355022092493
  -0.08932119153146999 -1.7683675330929607]
 [0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.4939071872608341
  -0.08932119153146999 -0.0012586245787133935]]
y_train:
 [0 1 1 1 0 0 1 0 1 1 1 1]
y_test: [0 0 1]